################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/TomSun.Environment.GitHub/v15
/_ReSharper.Caches/ReSharperPlatformVs159_169f5dff.TomSun.Environment.GitHub.00
